*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
}


.main-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}
.reservation-section {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    background-color: #EDFAFF;
    box-sizing: border-box;
}
.status-section {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    background-color: #F6FFF1;
    box-sizing: border-box;
}
.reservation-section h1,
.status-section h1 {
    font-size: 26px;
    font-weight: 800;
}
.status-section h2 {
    font-size: 26px;
    font-weight: 800;
}


#reservation-form {
    width: 100%;
    max-width: 450px;
    margin-top: 20px;
}
.success-message {
	font-size: 16px;
    color: blue;
	margin-top: 10px;
}
.server-error-message {
    font-size: 16px;
    color: red;
    margin-top: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.label-error-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.input-label {
    font-weight: 600;
    margin: 0;
}
.error-message {
    color: red;          
    font-size: 14px;
    text-align: right;
    font-style: italic;
    display: none;           /* 기본적으로 숨김 */
}
.error-message.show {
    display: inline-block;   /* 보이게 설정 */
}
.input-box {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
#purpose {
    resize: vertical;
}


.button-group {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.button-group button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 48%;
}
.cancel-button {
    background-color: #e0e0e0;
    color: #555;
}
.cancel-button:hover {
    background-color: #c8c8c8;
}
.submit-button {
    background-color: #007bff;
    color: white;
}
.submit-button:hover {
    background-color: #0056b3;
}


.list-header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form {
    display: flex; 
    align-items: center;
}
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    background: #fff;
    width: 300px;
}
.search-box input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.delete-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #e74c3c;
    transition: 0.2s;
}
.delete-btn:hover {
    background-color: #fdecea;
    border-color: #e74c3c;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
}

#deleteForm {
	width: 100%;
	max-width: 1000px;
}
.status-table {
    width: 100%;
	max-width: 1000px;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.status-table th {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #333;
}
.status-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.status-table tbody tr td:last-child {
    max-width: 250px;
    text-align: left;
    white-space: normal;
}


.chart-container {
    width: 100%;
    max-width: 1000px; 
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.chart-summary {
    text-align: center;
    color: #004085;
    max-width: 800px;
    font-size: 16px;
    font-weight: 500;
}
.chart-summary .highlight {
    color: #d63384;
    font-weight: 800;
    font-size: 16px;
}
.chart-group {
	display: flex;           
    justify-content: space-between; 
    margin-top: 20px;
    gap: 20px;             
    box-sizing: border-box;
}
.chart-box {
    flex: 1;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-box canvas {
    max-width: 100%;
    max-height: 100%;
}
